api/.vs/HotDeskApplicationApi/FileContentIndex/eda82b63-36e1-47f3-983e-124082d83947.vsidx
api/HotDeskApplicationApi/bin/Debug/net6.0/HotDeskApplicationApi.dll
api/HotDeskApplicationApi/bin/Debug/net6.0/HotDeskApplicationApi.pdb
api/HotDeskApplicationApi/obj/Debug/net6.0/HotDeskApplicationApi.assets.cache
HotDeskApplicationApi/.vs/HotDeskApplicationApi/FileContentIndex/0f3105bb-7c8a-4b1b-8752-9c2cdaf0c10b.vsidx
HotDeskApplicationApi/.vs/HotDeskApplicationApi/FileContentIndex/1bcd6e6d-7c6e-433e-a435-56a2e726c0a4.vsidx
HotDeskApplicationApi/.vs/HotDeskApplicationApi/FileContentIndex/1fafdf56-61b6-4e75-807a-13dbe3461b3c.vsidx
HotDeskApplicationApi/.vs/HotDeskApplicationApi/FileContentIndex/8035eef5-aec9-4586-b518-9e7054898bd1.vsidx
HotDeskApplicationApi/.vs/HotDeskApplicationApi/FileContentIndex/read.lock
