api/.vs/HotDeskApplicationApi/FileContentIndex/eda82b63-36e1-47f3-983e-124082d83947.vsidx
api/HotDeskApplicationApi/bin/Debug/net6.0/HotDeskApplicationApi.dll
api/HotDeskApplicationApi/bin/Debug/net6.0/HotDeskApplicationApi.pdb
api/.vs/HotDeskApplicationApi/DesignTimeBuild/.dtbcache.v2

*.cs
*.cache
*.editorconfig
*.json
api/.vs/HotDeskApplicationApi/v17/.suo
api/.vs/HotDeskApplicationApi/DesignTimeBuild/.dtbcache.v2
api/.vs/HotDeskApplicationApi/v17/.futdcache.v2
api/.vs/HotDeskApplicationApi/v17/.suo
api/.vs/ProjectEvaluation/hotdeskapplicationapi.metadata.v7.bin
api/.vs/ProjectEvaluation/hotdeskapplicationapi.projects.v7.bin
api/HotDeskApplicationApi/bin/Debug/net6.0/HotDeskApplicationApi.dll
api/HotDeskApplicationApi/bin/Debug/net6.0/HotDeskApplicationApi.pdb
api/HotDeskApplicationApi/obj/Debug/net6.0/HotDeskApplicationApi.assets.cache
api/HotDeskApplicationApi/obj/Debug/net6.0/HotDeskApplicationApi.dll
api/HotDeskApplicationApi/obj/Debug/net6.0/HotDeskApplicationApi.GeneratedMSBuildEditorConfig.editorconfig
api/HotDeskApplicationApi/obj/Debug/net6.0/HotDeskApplicationApi.pdb
