api/.vs/HotDeskApplicationApi/FileContentIndex/eda82b63-36e1-47f3-983e-124082d83947.vsidx
api/HotDeskApplicationApi/bin/Debug/net6.0/HotDeskApplicationApi.dll
api/HotDeskApplicationApi/bin/Debug/net6.0/HotDeskApplicationApi.pdb
api/.vs/HotDeskApplicationApi/DesignTimeBuild/.dtbcache.v2

